{% extends 'base1.html.twig' %}

{% block title %}Les catégories{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class='container'>
        <a href="{{ path('app_home') }}" class="navbar-brand">Qualideco</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{{ path('app_admin') }}" class="nav-item nav-link active">Administration</a>
            </div>
            <form class="d-flex">
                <div class="input-group">                    
                    <input type="text" class="form-control" placeholder="Recherche">
                    <button type="button" class="btn btn-secondary"><i class="bi-search"></i>Recherche</button>
                </div>
            </form>
        </div>
    </div>
</nav>

<header>
    <h1 class='text-center py-3'> Liste des réservations </h1>
</header>

    <table class="table">
        <thead>
            <tr class="table-warning">
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Peinture</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td class="py-3">
                        <div class="d-flex align-items-center">
                            {{ reservation.users.lastname }}  {{reservation.users.firstname}}
                        </div>
                    </td>
                    <td class="py-3">
                        <div class="d-flex align-items-center">
                            {{ reservation.users.email }}
                        </div>
                    </td>
                    <td class="py-3">
                        <div class="d-flex align-items-center">
                            {{ reservation.users.phone }}
                        </div>
                    </td>
                    <td class="py-3">
                        <div class="d-flex align-items-center">
                            {{ reservation.paints.title }}
                        </div>
                    </td>
                    <td class="py-3">
                        <a href="" title="Editer cette catégorie" class="btn btn-sm btn-outline-secondary">Editer</a>
                        
                        <form action="" method="post" class="d-inline">
                            <input type="hidden" name="token" value="">
                            <button class="btn btn-sm btn-outline-danger">Supprimer</button>
                        </form>    
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(reservations, null, {}, {
        'align': 'center',
        'size': 'small',
        'rounded': true,
    }) }}

{% endblock %}