{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block body %}
	{{ include('component/carousel.html.twig') }}
	{{ include('component/AboutUs.html.twig') }}
	{{ include('component/category.html.twig') }}
	{{ include('component/map.html.twig') }}
    {{ include('component/contact.html.twig') }}
    <hr>
    {{ include('component/footer.html.twig') }}
	<a href="{{ path('app_pdf') }}">pdf</a>
{% endblock %}
