{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="/css/paints.css">
{% endblock %}


{% block title %} Categorie{% endblock %}

{% block body %}
<main class="container py-5">
       <section class="row">
       <h1 class="text-center fs-2 py-5">Liste de la catégorie {{ category.name}}</h1>

{% for paint in paints %}
      {# {{paint.id}}
      {{paint.description}}
      <p>fsefsefs</p> #}
       <div class="col-4 py-5">
            <div class="card">
                   <div class="card-body text-center">
                    <h3 class="text-center card-title">{{ paint.title }}</h3>
                    <img src="{{ vich_uploader_asset(paint, 'coverFile')|imagine_filter('vignette') }}" alt="Image">
                    <a href="{{ path('ficheproduit_paints', { id: paint.id }) }}" class="btn btn-warning">
                        Voir la fiche produit
                    </a>
                </div>
               </div>
            </div>
{% endfor %}
   </section>
   </main>
{{ knp_pagination_render(paints, null, {}, {
        'align': 'center',
        'size': 'large',
        'rounded': true,
    }) }}
{% endblock %}