{% extends 'base1.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class='container'>
  <a class="navbar-brand" href="{{ path('app_home') }}">Qualideco</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_paint') }}">Peinture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_admin_category') }}">Categorie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_subCategory') }}">Sous Catégorie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_reservation') }}">Réservation</a>
      </li>
    </ul>
    </div>
  </div>
</nav>

<main>

  <h1 class='text-center py-4'> Administration Qualideco </h1>

  {# <img src="images/qualideco.deventure.jpg" width="50%" class="" > #}

<div class="row">
    <div class="mx-auto text-center">
        <img src="images/qualideco.deventure.jpg" width="50%">
    </div>
</div>



</main>

{% endblock %}
