{% extends 'base.html.twig' %}

{% block title %}Les catégories{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class='container'>
        <a href="#" class="navbar-brand">Qualideco</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{{ path('app_admin') }}" class="nav-item nav-link active">Administration</a>
                <a href="{{ path('app_new_subcategory') }}" class="nav-item nav-link active">Ajout d'une sous catégorie</a>
            </div>
            <form class="d-flex">
                <div class="input-group">                    
                    <input type="text" class="form-control" placeholder="Search">
                    <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</nav>

<header>
    <h1 class='text-center py-3'> Liste des sous catégories </h1>
</header>

    <table class="table">
        <thead>
            <tr class="table-warning">
                <th>ID</th>
                <th>Nom catégorie</th>
                <th>Nom sous catégorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for subCategory in subCategories %}
                <tr>
                    <td class="py-12">
                        <div class="d-flex align-items-center">
                            {{ subCategory.id }}
                        </div>
                    </td>
                    <td class="py-12">
                        <div class="d-flex align-items-center">
                            {{ subCategory.name }}
                        </div>
                    </td>
                    <td class="py-12">
                        <div class="d-flex align-items-center">
                            {{ subCategory.category }}
                        </div>
                    </td>
                    <td> 
                        <a href="{{ path('app_edit_subcategory', { id: subCategory.id }) }}" title="Editer cette catégorie" class="btn btn-sm btn-outline-secondary">Editer</a>
                        
                        <form action="{{ path('subCategory_delete', { id: subCategory.id }) }}" method="post" class="d-inline">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-subCategory-'~ subCategory.id) }}">
                            <button class="btn btn-sm btn-outline-danger">Supprimer</button>
                        </form>    
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(subCategories, null, {}, {
        'align': 'center',
        'size': 'large',
        'rounded': true,
    }) }}

{% endblock %}
