{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!
{% endblock %}

{% block body %}
	{% if items | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{ item.paints.title }}</td>
						<td>{{ item.paints.price }}</td>
						<td>{{ item.quantity }}</td>
						<td>{{ item.paints.price * item.quantity }}</td>
						<td>
							<a href="{{ path('app_basket_remove', {'id': item.paints.id}) }}" class=" btn btn-danger">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-end"> Total  :  </td>
					<td> {{ total }}</td>
					<td></td>
				</tr>
			</tfoot>

		</table>
		{% else %}

	{% endif %}

{% endblock %}
