{% extends 'base1.html.twig' %}

{% block title %}Peintures !{% endblock %}

{% block body %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="css/paints.css">
{% endblock %} 
  <div class="d-flex align-items-center justify-content-between">
        <h1 class="text-center">{{ paints.title }}</h1>
        <p class="display-6">{{ paints.price }}€</p>
    </div>

    {% if vich_uploader_asset(paints, 'coverFile') is not null %}
    <div class="text-center">
    <img src="{{ paints.cover }}" class="rounded" alt="peinture" width="250px">
    </div>
    <p class="display-4 py-4">Destination</p>
    <h2 class="display-4 m-0">{{paints.destination}}</h2>
    

    {% endif %}
{% endblock %}