{% extends 'base1.html.twig' %}

{% block title %}Peintures !{% endblock %}

{% block body %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="css/paints.css">
{% endblock %} 
  <div class="d-flex align-items-center justify-content-between">
        <h1 class="text-center">{{ paints.title }}</h1>
        <p class="display-6">{{ paints.price }}€</p>
    </div>

    {% if vich_uploader_asset(paints, 'coverFile') is not null %}
    <div class="text-center">
    <img src="{{ paints.cover }}" class="rounded" alt="peinture" width="250px">
    </div>
    <p class="display-6 m-3">Destination</p>
    <div class="row container">
    <div class="col-md-7">
    <h2 class="display-7 m-4">{{paints.destination}}</h2>
    <p class="display-6 m-3">Caractéristiques</p>
    <div class="row container">
    <div class="col-md-8">
    <h3 class="display-7 m-3">{{paints.features}}</h3>
    <div class="row container">
    <div class="col-md-8">
    <h4 class="display-0 m-1">{{paints.description}}</h4>
    </div>
    </div> 



{% endif %}
{% endblock %}